h1 Users List
a(href="/add" style="display:inline-block; margin-bottom:20px; padding:10px 15px; background-color:green; color:white; text-decoration:none; border-radius:5px;") Add User

ul(style="list-style:none; padding:0;")
  each user in users
    li(style="border: 1px solid #cccccce6; margin-bottom:10px; padding:10px; display:flex; justify-content:space-between; align-items:center; border-radius:5px; background-color:#f9f9f9;")
      span #{user.name} #{user.surname}
      form(action=`/delete-user/${user.id}` method="post" style="margin:0")
        button(type="submit" style="background-color: red; color:white; border:none; padding:5px 10px; border-radius:4px; cursor:pointer;") Delete
